<span class="rounded-circle">
    <%= image_tag(user_avatar(user), style: 'width: 50px') %>
</span>
<% if request.path == user_path(user) %>
  <%= user.name %>
<% else %>
  <%= link_to user.name, user_path(user) %>
<% end %>
