<span class="rounded-circle">
    <%= image_tag(user_avatar_thumb(user), class: 'rounded-circle') %>
</span>
<% if request.path == user_path(user) %>
  <%= user.name %>
<% else %>
  <%= link_to user.name, user_path(user) %>
<% end %>
