<div class="row py-2">
  <div class="col-auto">
    <%= link_to image_tag(photo_show(photo)), photo_show(photo) %>
  </div>
  <div class="col-auto">
    <p>Добавил</p>
    <%= render partial: 'users/user', object: photo.user %>
  </div>
</div>
