.img-icon, .img-icon-small {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

/* Thumbnails for events/index */
.thumbnail {
  position: relative;
  background: transparent;
  padding: 0;
  overflow: hidden;
  border-radius: 5px;
}

.thumbnail h3 {
  white-space: nowrap;
  overflow: hidden;
  margin-top: 0;
  margin-bottom: .3em;
}

.form-control:focus {
  border-color: rgba(40, 114, 251, 0.8) !important;
  box-shadow: 0 1px 1px rgba(148, 225, 155, 0.07) inset, 0 0 8px rgba(48, 203, 12, 0.6) !important;
}